/* global color variables */
:root{
    --darker-blue: #003459;
    --dark-blue: #195580;
    --blue: #2381c4;
    --light-blue: #d3e7f6;

    --orange: #FFB800;
    --light-organge: #ffb70064;

    --background-white: #ffffffde;

    --offwhite: #EEEEEE;
    --offblack: #111111;
}