.dropdown {
    background-color: var(--offwhite);
    border-radius: 5px;
    margin: 5px;
    min-width: 150px;
    position: relative;
    display: inline-block;
}

.dropdown button {
    background-color: var(--offwhite);
    margin-top: 10px;
    margin-bottom: 10px;
    color: #111111;
    width: 100%;
    min-height: 40px;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: 141px;
    background-color: var(--offwhite);
    color: #111111;
    width: 100%;
    border: 1px solid var(--orange);
    border-radius: 5px;
    z-index: 2;
}

.dropdown-menu button {
    display: block;
    margin: 0px;
    padding: 8px;
    border-radius: 0px;
    background-color: white;
}

.dropdown-menu button:hover {
    background-color: #cccccc;
}
