.FavoritesButton-button button{
    background-color: var(--offwhite);
    color: var(--offblack);
    border-radius: 5px;
    margin: 5px;
    min-width: 100px;
    min-height: 60px;
    padding: 8px;
    position: relative;
    display: inline-block;
}