.FavoritesButton-button button {
    background-color: var(--offwhite);
    color: var(--offblack);
    border-radius: 5px;
    margin: 5px;
    min-width: 150px;
    min-height: 60px;
    padding: 8px;
    position: relative;
    display: inline-block;
}

@media (max-width: 768px) {
    .FavoritesButton-button button {
        width: 150px;
    }
}
