.search-button button {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--dark-blue);
    color: #EEEEEE;
    
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: 105px;

    &:hover{
        background-color: var(--blue);
    }
}

.search-button svg {
    width: 30px;
}