.filters--filters {
    background-color: var(--dark-blue);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filters--filters-section {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    border-radius: 5px;
    padding: 5px;
}

.filters--number-input {
    background-color: var(--offwhite);
    color: var(--offblack);
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px;
    width: 100px;
    min-height: 44px;
    padding: 8px;
    position: relative;
    display: inline-block;
    border: none;
}
.filters--number-input::placeholder {
    color: var(--offblack);
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    text-align: center;
}