.footer--footer {
    background-color: var(--dark-blue);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer--footer p {
    color: var(--offwhite);
}

.footer--footer-content {
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1%;
}

.footer--logo {
    height: auto;
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
}

.footer--footer-content img {
    height: 15vh;
    width: auto;
    max-width: 100%;
}

.footer--explanation-text {
    text-align: center;
    font-size: 1em;
    color: var(--offwhite);
    margin-top: 10px;
}

.footer--explanation-text h1,
.footer--explanation-text p {
    margin-top: 5px;
    margin-bottom: 10px;
}
