.search-button {
    background-color: #EEEEEE;
    border-radius: 5px;
    margin: 5px;
    min-width: 100px;
}

.search-button button {
    margin: 10px;
    background-color: var(--darker-blue);
    color: #EEEEEE;
    &:hover{
        background-color: var(--dark-blue);
    }
}